body {
font-family : system-ui;
background-image : url("../Img/universite_tours.png");
}
/* divMain css --------------*/

div.divMain {
position : absolute;
top : 50%;
left : 50%;
transform : translate(-50%,-50%);
flex-direction : column;
display : flex;
background-color: white;
justify-content : center;
align-items : center;
padding : 10px;
box-shadow : 0 0 7px;
width : 480px;
height : 480px;
}

/* default element css --------------*/

input {
border-radius : 1px;
border : black solid 2px;
padding : 5px;
border-radius : 5px;
}


p {
font-size : 0.7em;
}


a {
font-size : 0.9em;
}


a:hover {
color : blue;
}

/* divHome --------------*/

#homeDiv {
box-shadow: none;
background : none;
}

/* divHome element css --------------*/

div.divLink {
display : flex;
grid-gap : 25px;

}

div.divLink a { 
font-size: 1.2em;
}

p.siteTitle { 
	font-size: 3em;
	text-decoration: underline;
	
}

/* form register and login css --------------*/

form.formRegister, form.formLogin {
width : 100%;
height : 100%;
display : flex;
justify-content : center;
flex-direction : column;
align-items : center;
grid-gap : 5px;
padding : 1px;
}

/* register and login element css --------------*/

img.imgLogin, img.imgRegister {
width : 150px;
height : 150px;
margin : 3px;
}


input.loginSubmitButton {
border-radius : 10px;
background : black;
color : white;
}


input.registerSubmitButton {
border-radius : 10px;
background : black;
color : white;
}



/* disconnect element css --------------*/

p.disconnectMessage{ 
	font-size: 1.5em;
	color: black;
	text-align: center;
} 



